<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/cxf.xml,/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/struts/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Apica</servlet-name>
        <servlet-class>com.techstack.servlet.ApicaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apica</servlet-name>
        <url-pattern>*.apica</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomSleepServlet</servlet-name>
        <servlet-class>com.techstack.servlet.CustomSleepServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomSleepServlet</servlet-name>
        <url-pattern>*.customsleep</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my1</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgentApiDownstreamServlet</servlet-name>
        <servlet-class>com.techstack.servlet.AgentApiDownstreamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentApiDownstreamServlet</servlet-name>
        <url-pattern>*.agentapi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hs1</servlet-name>
        <servlet-class>com.techstack.servlet.MyHotspotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sock1</servlet-name>
        <servlet-class>com.techstack.servlet.SocketTrafficServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my1</servlet-name>
        <url-pattern>*.my1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my2</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my2</servlet-name>
        <url-pattern>*.my2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my3</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my3</servlet-name>
        <url-pattern>*.my3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my4</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my4</servlet-name>
        <url-pattern>*.my4</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my5</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my5</servlet-name>
        <url-pattern>*.my5</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my6</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my6</servlet-name>
        <url-pattern>*.my6</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my7</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my7</servlet-name>
        <url-pattern>*.my7</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>com.techstack.servlet.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>*.myfilter</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <servlet-name>MyServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>hs1</servlet-name>
        <url-pattern>*.hs1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sock1</servlet-name>
        <url-pattern>*.sock1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myGetter</servlet-name>
        <servlet-class>com.techstack.servlet.GetterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myGetter</servlet-name>
        <url-pattern>*.myGetter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>eum</servlet-name>
        <servlet-class>com.techstack.servlet.EUMJSInjectedHttpResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eum</servlet-name>
        <url-pattern>/eum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>eumRestPoster</servlet-name>
        <servlet-class>com.techstack.servlet.EUMJSSnippetPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eumRestPoster</servlet-name>
        <url-pattern>/seteumjssnippet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>eumFormPoster</servlet-name>
        <servlet-class>com.techstack.servlet.EUMSetJSSnippetFromFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eumFormPoster</servlet-name>
        <url-pattern>/seteumjssnippetform</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myPutter</servlet-name>
        <servlet-class>com.techstack.servlet.PutterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myPutter</servlet-name>
        <url-pattern>*.myPutter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myPoster</servlet-name>
        <servlet-class>com.techstack.servlet.PosterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myPoster</servlet-name>
        <url-pattern>*.myPoster</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myDeleter</servlet-name>
        <servlet-class>com.techstack.servlet.DeleterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myDeleter</servlet-name>
        <url-pattern>*.myDeleter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>anotherServlet</servlet-name>
        <servlet-class>com.techstack.servlet.AnotherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>anotherServlet</servlet-name>
        <url-pattern>*.anotherServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my12</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my12</servlet-name>
        <url-pattern>*.my12</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my13</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my13</servlet-name>
        <url-pattern>*.my13</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my14</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my14</servlet-name>
        <url-pattern>*.my14</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my15</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my15</servlet-name>
        <url-pattern>*.my15</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my16</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my16</servlet-name>
        <url-pattern>*.my16</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my17</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my17</servlet-name>
        <url-pattern>*.my17</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my18</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my18</servlet-name>
        <url-pattern>*.my18</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my19</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my19</servlet-name>
        <url-pattern>*.my19</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my20</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my20</servlet-name>
        <url-pattern>*.my20</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my21</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my21</servlet-name>
        <url-pattern>*.my21</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my22</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my22</servlet-name>
        <url-pattern>*.my22</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>my23</servlet-name>
        <servlet-class>com.techstack.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my23</servlet-name>
        <url-pattern>*.my23</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mas</servlet-name>
        <servlet-class>com.techstack.servlet.MyAbstractServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mas</servlet-name>
        <url-pattern>*.mas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mis</servlet-name>
        <servlet-class>com.techstack.servlet.MyInheritedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mis</servlet-name>
        <url-pattern>*.mis</url-pattern>
    </servlet-mapping>
    <!-- Added from basic sample starts -->
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>com.techstack.servlet.CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>*.cookieservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CookieServlet1</servlet-name>
        <servlet-class>com.techstack.servlet.CookieServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet1</servlet-name>
        <url-pattern>*.cookieservlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CookieServlet2</servlet-name>
        <servlet-class>com.techstack.servlet.CookieServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet2</servlet-name>
        <url-pattern>*.cookieservlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CookieServlet3</servlet-name>
        <servlet-class>com.techstack.servlet.CookieServlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet3</servlet-name>
        <url-pattern>*.cookieservlet3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CookieServlet4</servlet-name>
        <servlet-class>com.techstack.servlet.CookieServlet4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet4</servlet-name>
        <url-pattern>*.cookieservlet4</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimplePojoServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SimplePojoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimplePojoServlet</servlet-name>
        <url-pattern>*.simplepojoservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimpleExitServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SimpleExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleExitServlet</servlet-name>
        <url-pattern>*.simpleexitservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimplePojoServletResendOrder</servlet-name>
        <servlet-class>com.techstack.servlet.SimplePojoServletResendOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimplePojoServletResendOrder</servlet-name>
        <url-pattern>*.simplepojoservletresendorder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimplePojoServletWalkThrough</servlet-name>
        <servlet-class>com.techstack.servlet.SimplePojoServletWalkThrough</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimplePojoServletWalkThrough</servlet-name>
        <url-pattern>*.simplepojoservletwalkthrough</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimplePojoServletWithIntegerParam</servlet-name>
        <servlet-class>com.techstack.servlet.SimplePojoServletWithIntegerParam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimplePojoServletWithIntegerParam</servlet-name>
        <url-pattern>*.simplepojoservletwithintegerparam</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimplePojoServletWithStringParam</servlet-name>
        <servlet-class>com.techstack.servlet.SimplePojoServletWithStringParam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimplePojoServletWithStringParam</servlet-name>
        <url-pattern>*.simplepojoservletwithstringparam</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PojoSplittingServlet</servlet-name>
        <servlet-class>com.techstack.servlet.PojoSplittingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PojoSplittingServlet</servlet-name>
        <url-pattern>*.pojosplittingservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PojoServlet</servlet-name>
        <servlet-class>com.techstack.servlet.PojoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PojoServlet</servlet-name>
        <url-pattern>*.pojoservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PojoServlet1</servlet-name>
        <servlet-class>com.techstack.servlet.PojoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PojoServlet1</servlet-name>
        <url-pattern>*.pojoservlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PojoServlet2</servlet-name>
        <servlet-class>com.techstack.servlet.PojoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PojoServlet2</servlet-name>
        <url-pattern>*.pojoservlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PojoServlet3</servlet-name>
        <servlet-class>com.techstack.servlet.PojoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PojoServlet3</servlet-name>
        <url-pattern>*.pojoservlet3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PojoServlet4</servlet-name>
        <servlet-class>com.techstack.servlet.PojoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PojoServlet4</servlet-name>
        <url-pattern>*.pojoservlet4</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>com.techstack.servlet.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>*.echoServlet</url-pattern>
    </servlet-mapping>
    <!-- Ends -->
    <servlet>
        <servlet-name>SplitCookieValueServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SplitCookieValueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplitCookieValueServlet</servlet-name>
        <url-pattern>*.cookievalue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SessionKeysServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SessionKeysServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionKeysServlet</servlet-name>
        <url-pattern>*.sessionKeys</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SplitHeaderValueServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SplitHeaderValueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplitHeaderValueServlet</servlet-name>
        <url-pattern>*.headervalue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SplitParamValueServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SplitParamValueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplitParamValueServlet</servlet-name>
        <url-pattern>*.paramvalue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SplitFirstSegmentServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SplitFirstSegmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplitFirstSegmentServlet</servlet-name>
        <url-pattern>*.firstsegment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SplitLastSegmentServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SplitLastSegmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplitLastSegmentServlet</servlet-name>
        <url-pattern>*.lastsegment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SplitUriSegmentServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SplitUriSegmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplitUriSegmentServlet</servlet-name>
        <url-pattern>*.urisegment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SplitRequestMethodServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SplitRequestMethodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplitRequestMethodServlet</servlet-name>
        <url-pattern>*.requestmethod</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SplitSessionServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SplitSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplitSessionServlet</servlet-name>
        <url-pattern>*.session</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SleepServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SleepServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SleepServlet</servlet-name>
        <url-pattern>*.sleep</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimpleJspRenderServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SimpleJspRenderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleJspRenderServlet</servlet-name>
        <url-pattern>*.simplejsprender</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxJspServlet</servlet-name>
        <servlet-class>com.techstack.servlet.AjaxJspServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxJspServlet</servlet-name>
        <url-pattern>*.ajaxservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ADServlet</servlet-name>
        <servlet-class>com.techstack.servlet.ADServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ADServlet</servlet-name>
        <url-pattern>*.adservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CookieWithSession</servlet-name>
        <servlet-class>com.techstack.servlet.CookieWithSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieWithSession</servlet-name>
        <url-pattern>*.CookieWithSession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserQueryDBServlet</servlet-name>
        <servlet-class>com.techstack.servlet.UserQueryDBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserQueryDBServlet</servlet-name>
        <url-pattern>*.userquerydbservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DBServlet</servlet-name>
        <servlet-class>com.techstack.servlet.DBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBServlet</servlet-name>
        <url-pattern>*.dbservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Allbackendsservlet</servlet-name>
        <servlet-class>com.techstack.servlet.BackendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Allbackendsservlet</servlet-name>
        <url-pattern>*.allbackendsservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>simplebackendsservlet</servlet-name>
        <servlet-class>com.techstack.servlet.SimpleBackendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>simplebackendsservlet</servlet-name>
        <url-pattern>*.simplebackendsservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>httpbackendservlet</servlet-name>
        <servlet-class>com.techstack.servlet.HTTPBackendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>httpbackendservlet</servlet-name>
        <url-pattern>*.httpbackendservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jdbcbackendservlet</servlet-name>
        <servlet-class>com.techstack.servlet.JDBCBackendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jdbcbackendservlet</servlet-name>
        <url-pattern>*.jdbcbackendservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jdbcbatchservlet</servlet-name>
        <servlet-class>com.techstack.servlet.JDBCBatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jdbcbatchservlet</servlet-name>
        <url-pattern>*.jdbcbatchservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jdbcuniquequeriesbatchservlet</servlet-name>
        <servlet-class>com.techstack.servlet.JDBCUniqueQueriesBatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jdbcuniquequeriesbatchservlet</servlet-name>
        <url-pattern>*.jdbcuniquequeriesbatchservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>oraclejdbcservlet</servlet-name>
        <servlet-class>com.techstack.servlet.OracleJDBCServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oraclejdbcservlet</servlet-name>
        <url-pattern>*.oraclejdbcservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeadLockServlet</servlet-name>
        <servlet-class>com.techstack.servlet.DeadLockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeadLockServlet</servlet-name>
        <url-pattern>*.deadlock</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExceptionServlet</servlet-name>
        <servlet-class>com.techstack.servlet.ExceptionGeneratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExceptionServlet</servlet-name>
        <url-pattern>*.exception</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/cxf/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>com.techstack.cxf.client.ClientServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>*.service</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SpringInvokerSwervlet</servlet-name>
        <servlet-class>com.techstack.servlet.SpringInvokerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpringInvokerSwervlet</servlet-name>
        <url-pattern>*.springInvoker</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>This will invoke slow servlet</description>
        <display-name>SlowServlet</display-name>
        <servlet-name>SlowServlet</servlet-name>
        <servlet-class>com.techstack.servlet.SlowServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This will cause leak</description>
        <display-name>LeakServlet</display-name>
        <servlet-name>LeakServlet</servlet-name>
        <servlet-class>com.techstack.servlet.LeakingServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This will cause java memory leak</description>
        <display-name>MemLeakServlet</display-name>
        <servlet-name>MemLeakServlet</servlet-name>
        <servlet-class>com.techstack.servlet.MemLeakingServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This will invoke Exceptions</description>
        <display-name>ExceptionGenerator</display-name>
        <servlet-name>ExceptionGenerator</servlet-name>
        <servlet-class>com.techstack.servlet.ExceptionGenerator</servlet-class>
    </servlet>

    <servlet>
        <description>This will invoke Exceptions</description>
        <display-name>myExceptionGenerator</display-name>
        <servlet-name>myExceptionGenerator</servlet-name>
        <servlet-class>com.techstack.servlet.MyExceptionGenerator</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExceptionGenerator</servlet-name>
        <url-pattern>*.exceptiongenerator</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>myExceptionGenerator</servlet-name>
        <url-pattern>*.myexceptiongenerator</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MemLeakServlet</servlet-name>
        <url-pattern>*.memleakservlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SlowServlet</servlet-name>
        <url-pattern>*.slowservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeakServlet</servlet-name>
        <url-pattern>*.leakservlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/myerror.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/myerror.jsp</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/myerror.jsp</location>
    </error-page>

    <error-page>
        <error-code>401</error-code>
        <location>/myerror.jsp</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/myerror.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/myerror.jsp</location>
    </error-page>
</web-app>
